:root {
    --obsidian: #213358;  
    --white: rgb(255, 255, 255);  
}

.font-sidebar-nav-my {
    font-family: 'Oswald', cursive;
    letter-spacing: 2px;
    margin-left: 5px;
    font-weight: lighter;
    color: var(--obsidian);
}

.bg-danger-sidebar {
    background: linear-gradient(to left bottom, rgb(255, 112, 29) 16%, rgba(253, 152, 89, 0.904) 97%);
}

.bg-main {
    background: linear-gradient();
}

.bg-danger-sidebar-a {
    background: linear-gradient(45deg, rgb(255, 112, 29) 16%, rgba(253, 152, 89, 0.904) 97%);
}

.sidebar-group-p {
    color: rgb(255, 112, 29);
}

.text-secondary-sidebar {
    color: #7a6e5e;
    cursor: pointer;
}

.text-secondary-table {
    color: #7a6e5e;    
}

.text-secondary-sidebar:hover {
    color: rgb(255, 112, 29);
}

.sidebar-my {
    color:var(--obsidian);
}

.bg-dark-obsidian {
    background-color: var(--obsidian);
}

.bg-dark-white {
    background-color: var(--white);
}

.bg-white-nav {
    background-color: rgb(255, 255, 255);
}

.active-items-gs {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.items {
    -moz-user-select: none; 
     -ms-user-select: none; 
  -khtml-user-select: none; 
 -webkit-user-select: none; 
 -webkit-touch-callout: none; 
}

.item {
    cursor:pointer;
}

.item:hover span {
    color: rgb(255, 112, 29);
}

.opwh-1:hover {
    opacity: 0.8;
}

.bw-20-white {
    border-bottom:2px solid white;
    width: 100px;
}

.bw-20-white-left {
    border-left:1.5px solid white;
    width: 100px;
}

.footer .head {
    font-size: 18px;
}

.wh-white:hover {
    color:white !important;
}

.wh-white:focus {
    color:white !important;
}

.not-u:hover {
    text-decoration: none;
}

.swh-1:hover {
    overflow-x: scroll;
}

.swh-1 {
    overflow-x:hidden;
}

@media screen and (max-width: 992px) {
    .m-auto-md {        
        margin:auto !important;        
    }

    .w-100-md {
        width: 100% !important;
    }    
}

@media screen and (max-width: 768px) {
    .m-auto-md {        
        margin:auto !important;        
    }
    .w-100-md {
        width: 100% !important;
    }

    .swh-1 {
        overflow-x:scroll;
    }
}